// font
.Yellowtail{
  font-family: 'Yellowtail', cursive;
}

.Rowdies{
  font-family: 'Rowdies', cursive;
}

h1{
  font-size: 4rem;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-ori,
a.btn-ori,
button.btn-ori {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-ori {
    overflow: hidden;
    color: #fff;
    border-radius: 0;
    background: #000;
}
  
.btn-ori div {
    position: relative;
}
  
.btn-ori:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
    color: #000;
}
.btn-ori div:before {
    color: #000;
}
  
.btn-ori:hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    color: #000;
}

.btn-ori div:hover:before{
    color: #000;
}

// ボタンの色
.bf-red:before{
  background-color: crimson;
}

.bf-yellow:before{
  background-color:yellow;
}

.bf-lime:before{
  background-color:yellowgreen;
}

.bf-blue:before{
  background-color:lightskyblue;
}